.swiper {
	overflow: hidden;
}
.swiper-initialized {
	touch-action: pan-y;
}
.swiper-wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	box-sizing: content-box;
}
.swiper-slide {
	flex-shrink: 0;
}
.material {
    position: relative;
	z-index: 2;
    &__container {
        position: relative;
        padding-bottom: 1.25rem;
        z-index: 2;
        display: grid;
        grid-template-columns: 50% minmax(17.5rem, 20.3125rem);
        justify-content: space-between;
        align-items: start;
        gap: 1.25rem;
        min-width: 0;//когда swiper попадает в flex или grid элемент, он ломается. надо ставить min-width: 0;
    }    

    &__content {
        padding-top: 1.5625rem;
        display: grid;
        gap: 0.8125rem;
        justify-items: start
    }

    &__title {
    }

    &__text {
    }

    &__more {
        border-radius: 0.25rem;
        font-size: 0.75rem;
        font-weight: 500;
        padding: 0.625rem 0.875rem;
        border: 1px solid #646d70;
    }

    &__slider {
        transform: translate(0, -20.765027%); /* 76/366 */
    }
}
.slider-material {
	position: relative;
    &__wrapper {
    }

    &__slide {
        aspect-ratio: 325 / 366;//соотношение сторон вместо процентного паддинга
        position: relative;
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
        }
    }

    &__pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 0.3125rem 1rem 0.3125rem;
        flex-wrap: wrap;
        gap: 0.5rem;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
}
.slider-material__pagination .swiper-pagination-bullet {
	flex: 0 0 0.5rem;
	height: 0.5rem;
	background-color: #fff;
	opacity: 0.4;
	border-radius: 50%;
	cursor: pointer;
	transition: opacity 0.3s;
}
.slider-material__pagination .swiper-pagination-bullet-active {
	opacity: 1;
}
@media (min-width: 47.9988em) {
	.material::before {
		content: "";
		background-color: #fff;
		position: absolute;
		left: 0;
		top: 0;
		height: 2.3125rem;
		transform: translate(0px, -100%);
		width: 61.7%;
	}
	.material::after {
		content: "";
		position: absolute;
		bottom: 0;
		right: 0;
		height: 8.75rem;
		background-color: #222f33;
		width: 38.3%; /* 383/1000 */
	}
}
@media (max-width: 47.9988em) {
	.material {
        &__container {
            grid-template-columns: auto;
        }
        &__slider {
            transform: translate(0, 0);
        }
    }
}

.mat {

    &__content {
    }

    &__more {
    }

    &__slider {
    }
}



